<div class="row">
 <h1>experiencia laboral</h1>
 <div class="col-lg-1"></div>
 <div class="col-lg-11">
    <ul>
        <li>
            <h1>trabajo 1</h1> - <h3>(years)</h3>
        </li>
    </ul>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci hic officia aspernatur, inventore neque, placeat accusamus temporibus harum necessitatibus libero ullam voluptas. Perferendis quibusdam quam corrupti illum. Eaque, odio delectus?</p>
    <ul>
        <li>
            <h1>trabajo 1</h1> - <h3>(years)</h3>
        </li>
    </ul>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci hic officia aspernatur, inventore neque, placeat accusamus temporibus harum necessitatibus libero ullam voluptas. Perferendis quibusdam quam corrupti illum. Eaque, odio delectus?</p>
    <ul>
        <li>
            <h1>trabajo 1</h1> - <h3>(years)</h3>
        </li>
    </ul>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci hic officia aspernatur, inventore neque, placeat accusamus temporibus harum necessitatibus libero ullam voluptas. Perferendis quibusdam quam corrupti illum. Eaque, odio delectus?</p>


 </div>
</div>
