<div class="row">
    <h1>proyectos realizados</h1>
    <div class="contenedor" >
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
         <h1>portfolio web</h1>
         <p>Argentina Programa ofrece trayectos formativos para aprender a programar y dar tus primeros pasos en el mundo de la tecnología, tiene como proyecto final desarrollar una aplicación web full stack, que mostrará: datos personales, estudios cursados, experiencia laboral, conocimiento de las
            tecnologías</p>
     </div>
     <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/banner-ok-argentina-programa.jpg "
            class="img-fluid img-proyecto"> 
            
        </div>
    </div>
</div>
