<div class="row">

 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img-profile.png" class="img-fluid" id="profilePhoto" >  

 </div>
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name" >{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr</p>
 </div>
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consequatur dolores, quos itaque excepturi, aliquid quidem sint odio voluptatem voluptate natus esse dolorem illum alias deserunt corporis temporibus odit error?

        </h1> 
    </span>
 </div>
</div>
